@import "../theme.scss";

.dateFilterContainer {
    width: 200px;
}

.lineChartContainer {
    height: 300px;
    width: 80%;
}

.calculationSelectorContainer {
    height: 300px;
    margin: 0 0 0 10px;
    width: 15%;
}