@import "../theme.scss";

.DashboardTitle {
    margin-top: $spacing;
    margin-left: $spacing;
    margin-bottom: -$spacing;
}

.DateFilter {
    margin: $spacing $spacing;
}

.ChartCalculation {
    display: flex;
    height: 500px;

    .Chart {
        float: left;
        width: 66%;
    }

    .Calculation {
        float: right;
        width: 34%;
    }
}
